@import "~antd/dist/antd.css";
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: "Poppins" !important;
}

.field-error{
  color: red;
  font-size: 12px;
}

.dotted_border {
  border-top: 1px dotted grey;
  /* margin-top: 50px; */
}
.botton_text_gray span {
  color: gray !important;
}

.footer .ant-btn-link,
.footer .ant-btn,
.assigneeDropdown .ant-btn,
.sidebar-open-link-bg .leading-normal,
.app-user-info .font-medium,
.modal-confirm-button {
  color: #fff !important;
}

.container{
  /*max-width: 1200px;*/
  margin:0 auto;
}